.titre {
  color: #D04F4F;
  text-align: center;
}

header {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  text-align: center;
}

.navbar {
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
}

#search {
  background: #E7E7E7;
  border-color: #E7E7E7;
  width: 100%;
  height: 69px;
  border-radius: 5px;
}

.menu-deroulant {
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-ingredients {
  margin-right: 5%;
}

.dropdown-appareil {
  margin-right: 5%;
}

.dropdown-ustensils {
  margin-right: 5%;
}

.btn {
  border-radius: 5px;
  color: #fff;
  width: 15%;
  height: 70px;
  margin-right: 2em;
}

.dropdown-menu1 {
  background-color: #3282F7;
}

.dropdown-menu1 a {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu2 {
  display: none;
  background-color: #68D9A4;
}

.dropdown-menu2 a {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu3 {
  display: none;
  background-color: #ED6454;
}

.dropdown-menu3 a {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu.show {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.btn-secondary1 {
  background-color: #3282F7;
  width: 100%;
}

.btn-secondary2 {
  background-color: #68D9A4;
  width: 100%;
}

.btn-secondary3 {
  background-color: #ED6454;
  width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
  width: auto;
  height: auto;
}

.p-2 {
  width: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #C7BEBE;
  border-radius: 5px;
}

.recettes-description {
  background-color: #E7E7E7;
}

.gray {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.recettes-descritpion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h6 {
  text-align: center;
}

.description-ingredient {
  margin-top: 1em;
  width: 50%;
  font-size: 10px;
}

.description-action {
  margin-top: 1em;
  width: 45%;
  font-size: 10px;
}

li {
  list-style-type: none;
}

.time {
  text-align: right;
  margin-left: 1em;
}

#menu {
  color: white;
  margin: 0px;
  padding: 10px;
  width: 250%;
}

#menu:hover {
  display: -ms-grid;
  display: grid;
}

.autocom-box li {
  cursor: default;
  border-radius: 3px;
  display: none;
}

.autocom-box li:hover {
  background-color: red;
}

.navbar .autocom-box {
  pointer-events: none;
}

ol, ul {
  padding-left: 0rem;
}

/*span{
    height: 10px;    
    overflow: hidden;
    text-overflow: ellipsis;
}*/
#ingredientsDropdownMenu ul {
  width: 100% !important;
  /* changer le with 30 % et pad 20px pour a case*/
  height: 100% !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[2];
      grid-template-columns: repeat(2, 150px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ingredientsDropdownMenu li {
  color: #fff;
}

#appareilsDropdownMenu li {
  color: #fff;
}

#ustensilsDropdownMenu li {
  color: #fff;
}

#reponse-dropdown {
  margin: 1em;
}

#reponse-dropdown li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: .5em;
  color: #fff;
}

#reponse-dropdown #ingredients {
  background: #3282F7;
  margin-bottom: .5em;
  padding: 1em 3em 1em 1em;
  color: #fff;
}

#reponse-dropdown #ustensils {
  background: #ED6454;
  margin-bottom: .5em;
  padding: 1em 3em 1em 1em;
  color: #fff;
}

#reponse-dropdown #appliances {
  background: #68D9A4;
  margin-bottom: .5em;
  padding: 1em 3em 1em 1em;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */