@import './variables';

@mixin flexContaineur($direction){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: $direction;
}

.titre{
    color:$bigTitle-color;
    text-align: center;
}

header{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    text-align: center;
}
.navbar{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    
}
#search{
    background:$fondSearch-color;
    border-color: $fondSearch-color;
    width: 100%;
    height: 69px;
    border-radius: $arrondi-radius;
}

.menu-deroulant{
    margin-left: 4%;
    display: flex;   
}
.dropdown{
    margin-right: 5%;
    &:hover .dropdown-menu{
        display: block;
    }
   
}
.dropdown2{
    margin-right: 5%;
    &:hover .dropdown-menu2{
        display: block;
    }
   
}
.dropdown3{
    margin-right: 5%;
    &:hover .dropdown-menu3{
        display: block;
    }
   
}

.btn{
    border-radius: $arrondi-radius;
    color: $rectangle-text-color;
    width: 15%;
    height:70px ;
    margin-right: 2em;    
}



.dropdown-menu{
    
    display: none;
    background-color: $rectangle1-color;
    
    
    & a{
        color: $rectangle-text-color;
        text-decoration: none;
        display: block;
    }
    &:hover{
        display: block;
    }
}
.dropdown-menu2{
    display: none;
    background-color: $rectangle2-color;
    
    & a{
        color: $rectangle-text-color;
        text-decoration: none;
        display: block;
    }
    &:hover{
        display: block;
    }
}

.dropdown-menu3{
    display: none;
    background-color: $rectangle3-color;
    
    & a{
        color: $rectangle-text-color;
        text-decoration: none;
        display: block;
    }
    &:hover{
        display: block;
    }
}



.btn-secondary1{
    background-color:$rectangle1-color;
    width: 100%;
    
}
.btn-secondary2{
    background-color: $rectangle2-color;
    width: 100%;     
}
.btn-secondary3{
    background-color:$rectangle3-color; 
    width: 100%;   
}

.d-flex{
    @include flexContaineur(row);
    margin-left: 2%;
    margin-right: 2%;
    
    
    width: auto;
    height: auto;

}
.p-2{
    width :30%;
    height :364px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:$recette-back-color;
    border-radius: $arrondi-radius;
}
.recettes-description{
    background-color: $fondSearch-color;
}
.gray{
    
    object-fit: cover;
    width: 100%;
    height: 55%;
    border-radius: $radius-photo;
    
}

.recettes-descritpion{
    @include flexContaineur(row);
}
h6{
    text-align: center;
}
.description-ingredient{
    margin-top: 1em;
    width: 50%;
    font-size: 10px;
}
.description-action{
    margin-top: 1em;
    width: 45%;
    font-size: 11px;
    
}
li{
    list-style-type: none;
    
}
.time{
    text-align: right;
    margin-left: 1em;
}


#menu{
    color: white;
    margin: 0px;
    padding: 10px;
    width: 250%;
    &:hover{
        
        display: grid;
    }

}

.autocom-box{
    li{
        cursor: default;
        border-radius: 3px;
        display: none;
        &:hover{
            background-color: red;
        }
    }
}
.navbar{
    .autocom-box{
        
        pointer-events: none;
    }
}

ol, ul {
    padding-left: 0rem;
}